*************.env************
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=

**************launch.json*************
{
  "version": "0.2.0",
  "configurations": [
    {
      "type": "java",
      "name": "SistemaRural",
      "request": "launch",
      "mainClass": "sistemarural.Main",
      "envFile": "${workspaceFolder}/.env"
    }
  ]
}